.user-space {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 7px;
    margin-top: 30px;
    background-color:  #3b5998 ;
    border: 1px white solid;
    width: 500px;
    border-radius: 8px;
}

.accordion {
    background-color: #3b5998;
    color: white;
    border: none;
}

.closed-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

h3 {
    margin-left: 20px;
    color: #FFF;
    font-size: medium;
    margin-left: 10px;
}

li {
    list-style-type: none;
}